body {
    font-family: Arial, sans-serif;
    margin: 20px;
    
}
h2, h3 {
    text-align: center;
}
.input-container {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}
#taskInput {
    flex: 1;
    padding: 8px;
}
#addTaskBtn {
    padding: 8px;
    cursor: pointer;
}
#filter {
    margin: 10px 0;
    width: 100%;
    padding: 8px;
}
/* Estilo das tarefas */
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
}
.task button {
    background: rgb(245, 106, 106);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 400px;
    margin: 0 auto;
}
.button-color{
    background-color: #64acf8;
    border-radius: 10px;
    color: aliceblue;
    border-color: transparent;
}


/* Categorias de cores */
.Trabalho { background-color: #4c99eb;}
.Estudos { background-color: #71ff92; }
.Pessoal { background-color: #f8d775; color: black; }
.Outro { background-color: #6c757d; }
